node_modules/
dist/
outputs/
uploads/
quantized/
cache/
__pycache__/
*.pyc
.venv/
*.log
/model-training.config.json
/model-training.config.js
/model-training.config.mjs
/model-training.config.ts
.DS_Store
LlamaFactory
finetune
.cache/